{{#extends 'base'}}

{{#block 'title'}}New Customer{{/block}}

{{#block 'content'}}
<form method='POST'>
  <h1 class='alert alert-danger mt-3 mb-3'>Confirm deletion of {{customerToDelete.name}}?</h1>
  <div>
    <input type='submit' value='Confirm' class="btn btn-danger"/>
    <a href='/customers'class="btn btn-secondary">Cancel</a>
  </div>
  

</form>


{{/block}}

{{/extends}}